@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
@import "./index";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.white_bg {
  background-color: $white;
}

.light_bg {
  background-color: #f1f1f1;
}

.primary {
  color: $primary;
}

.dark_primary {
  color: $dark-primary;
}

.light_primary {
  color: $light-primary;
}

.error_primary {
  color: $error-primary;
}

.error_light {
  color: $error-light;
}

.pointer {
  cursor: pointer;
}
