@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.white_bg {
  background-color: white;
}

.light_bg {
  background-color: #f1f1f1;
}

.moderate_blue {
  color: hsl(238, 40%, 52%);
}

.dark_blue {
  color: hsl(212, 24%, 26%);
}

.grayish_blue {
  color: hsl(211, 10%, 45%);
}

.soft_red {
  color: hsl(358, 79%, 66%);
}

.pale_red {
  color: hsl(357, 100%, 86%);
}
